<footer>
    <div class="footer-container">
        <div class="footer-section">
            <h2>Quick Links</h2>
            <div class="quick-links">
                <div class="link-column">
                    <ul class="footer-links">
                        <li><a href="./index.html">Home</a></li>
                        <li><a href="./pages/simulator.html">Simulator</a></li>
                        <li><a href="./pages/guides.html">Guides</a></li>
                    </ul>
                </div>
                <div class="link-column">
                    <ul class="footer-links">
                        <li><a href="./pages/talents.html">Talents</a></li>
                        <li><a href="./pages/disciplines.html">Disciplines</a></li>
                        <li><a href="#">Other Link</a></li> <!-- Placeholder for additional link -->
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-section">
            <h2>Community</h2>
            <div class="social-icons">
                <a href="https://discord.com" class="social-icon"><img src="/images/discord-icon.png" alt="Discord"></a>
                <a href="https://www.instagram.com/mma.manager2/" class="social-icon"><img src="/images/instagram-icon.png" alt="Instagram"></a>
                <a href="https://x.com/preystudiosmma" class="social-icon"><img src="/images/twitter-icon.png" alt="Twitter"></a>
                <a href="https://www.facebook.com/groups/935480524053924" class="social-icon"><img src="/images/facebook-icon.png" alt="Facebook"></a>
            </div>
        </div>
        <div class="footer-section">
            <h2>Contact</h2>
            <p>If you have any advice or suggestions, please reach out!</p>
            <p>Email: <a href="mailto:support@mmamanager2.com">support@mmamanager2.com</a></p>
        </div>
    </div>
    <p class="footer-copyright">&copy; 2023 MMA Manager 2 Fan Page. All rights reserved.</p>
</footer>