<footer>
    <div class="footer-container">
        <div class="footer-section">
            <h2>Quick Links</h2>
            <ul>
                <li><a href="./index.html">Home</a></li>
                <li><a href="./pages/simulator.html">Simulator</a></li>
                <li><a href="./pages/guides.html">Guides</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h2>Community Section</h2>
            <ul>
                <li><a href="#">Discord</a></li>
                <li><a href="#">Game Forums</a></li>
                <li><a href="#">Social Media</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h2>Contact Us</h2>
            <p>This Webpage is made from a normal player just wanting to gather all info for new players, if you have any advice what to add or remove. Please reach out and let's help each other!</p>
            <p>Email: <a href="mailto: support@mmamanager2.com">support@mmamanager2.com</a></p>
        </div>
    </div>
    <p class="footer-copyright">&copy; 2023 MMA Manager 2 Fan Page. All rights reserved.</p>
</footer>