<nav>
    <div class="navbar-container">
        
        
        <ul id="navbar" class="navbar">
            <li><a href="../index.html">Home</a></li>
            <li><a href="../pages/getting-started.html">Getting Started</a></li>
            <li>
                <a href="#">Strategies & Guides</a>
                <ul class="dropdown">
                    <li><a href="../pages/talents.html">Talents</a></li>
                    <li><a href="../pages/disciplines.html">Disciplines</a></li>
                    <li><a href="../pages/guides.html">Build Guide</a></li>
                    <li><a href="../pages/build-fighter.html">Build Your Fighter</a></li>
                </ul>
            </li>
            <li><a href="../pages/gym-equipment.html">Gyms & Equipment</a></li>
            <li><a href="../pages/Community-resources.html">Community Resources</a></li>
        </ul>
    </div>
</nav>
